# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\fabio\Desktop\UniHeidelberg\1.Semester\Text Analytics\Project\SourceCode\Hate-Speech-Classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
